 <hr/> 
                        Зарегистрированно участников: 8
                        <ul>Из них
                        <li>Инженеров: 2 </li>
                        <li>Экономистов: 3 </li>
                        <li>Дизайнеров: 2</li>
                        <li>Программистов АСУ: 1</li>
                        </ul>

                        <hr>
                        Зарегистрированно команд: 1
                        <ul>Из них по направлению
                        <li>Кейс 1: 0 </li>
                        <li>Кейс 2: 1 </li>
                        <li>Кейс 3: 0</li> 
                      </ul>
