	<footer class="section-footer dm-shadow">
    	<div class="container">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="widget clearfix">
						<div class="twitter-widget">
                            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/KMIKKUB"  data-widget-id="454948117880643584">Твиты пользователя @KMIKKUB</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
						</div>
                    </div><!-- end widget -->
                </div><!-- end col 4 -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="widget">
                        <!--div class="widget-title"><h3>Мы в соц.сетях</h3><hr></div-->
                        <hr/> 
                        Зарегистрированно участников: 0
                        <ul>Из них
                        <li>Инженеров: 0 </li>
                        <li>Экономистов: 0 </li>
                        <li>Дизайнеров: 0</li>
                        <li>Программистов АСУ: 0</li>
                        </ul>
                        <hr>
                        Зарегистрированно команд: 0
                        <ul>Из них по направлению
                        <li>Дизайн: 0 </li>
                        <li>Автоматизация: 0 </li>
                        <li>Технико-экономическое: 0</li> 
                      </ul>


                    </div><!-- end widget -->
                </div><!-- end col 4 -->
<div class="col-lg-4 col-md-5 col-sm-10">
                    <div class="widget clearfix">
                        <div class="widget-title"><h3>Расскажите о нас!</h3><hr></div>                        
<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_dd" href="http://www.addtoany.com/share_save" style="padding:10px 10px 10px 10px"></a>
<a class="a2a_button_facebook" style="padding:10px 10px 10px 10px"></a>
<a class="a2a_button_twitter" style="padding:10px 10px 10px 10px"></a>
<a class="a2a_button_google_plus" style="padding:10px 10px 10px 10px"></a>
<a class="a2a_button_email" style="padding:10px 10px 10px 10px"></a>
<a class="a2a_button_linkedin" style="padding:10px 10px 10px 10px"></a>
<a class="a2a_button_mail_ru" style="padding:10px 10px 10px 10px"></a>
<a class="a2a_button_odnoklassniki" style="padding:10px 10px 10px 10px"></a>
<a class="a2a_button_evernote" style="padding:10px 10px 10px 10px"></a>
<a class="a2a_button_google_gmail" style="padding:10px 10px 10px 10px"></a>
<a class="a2a_button_instapaper" style="padding:10px 10px 10px 10px"></a>
<a class="a2a_button_kindle_it" style="padding:10px 10px 10px 10px"></a>
<a class="a2a_button_livejournal" style="padding:10px 10px 10px 10px"></a>
<a class="a2a_button_vk" style="padding:10px 10px 10px 10px"></a>
<a class="a2a_button_tumblr" style="padding:10px 10px 10px 10px"></a>
<a class="a2a_button_whatsapp" style="padding:10px 10px 10px 10px"></a>
<a class="a2a_button_pinterest" style="padding:10px 10px 10px 10px"></a>
</div>
<script type="text/javascript">
var a2a_config = a2a_config || {};
a2a_config.locale = "ru";
a2a_config.num_services = 18;
a2a_config.color_main = "undefined";
a2a_config.color_border = "undefined";
a2a_config.color_link_text = "undefined";
a2a_config.color_link_text_hover = "undefined";
a2a_config.color_bg = "undefined";
a2a_config.color_arrow = "undefined";
a2a_config.color_arrow_hover = "undefined";
</script>
<script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
</div>
</div>

       </div><!-- end container -->
   </footer><!-- end section-footer -->

        <section class="section-copyright dm-shadow text-center">
        <div class="container">
            <div class="back-to-top clearfix">
                <span><span class="dmtop"><i class="fa fa-arrow-up"></i></span></span>
            </div>
            <p></p>
        </div><!-- end container -->
    </section><!-- end section-copyright -->