	<footer class="section-footer dm-shadow">
    	<div class="container">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="widget clearfix">
                        <img class="footerlogo" src="images/footerlogo.png" alt=""><br>
                        <p>Er zijn vele variaties van passages van Lorem Ipsum beschikbaar maar het merendeel heeft te lijden gehad van wijzigingen in een of andere vorm, door ingevoegde humor of willekeu seloofwaardig ogen.</p>
                        <a href="#" class="btn btn-primary"><i class="fa fa-info"></i> read more</a>
                    </div><!-- end widget -->
                </div><!-- end col 3 -->
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="widget clearfix">
                        <div class="widget-title"><h3>Popular Tags</h3><hr></div>
                        <div class="tagcloud">
                            <a href="#" class="" title="12 topics">advice</a>
                            <a href="#" class="" title="2 topics">wordpress</a>
                            <a href="#" class="" title="21 topics">joomla</a>
                            <a href="#" class="" title="5 topics">blog</a>
                            <a href="#" class="" title="62 topics">cms</a>
                            <a href="#" class="" title="12 topics">drupal</a>
                            <a href="#" class="" title="88 topics">html5</a>
                            <a href="#" class="" title="15 topics">css3</a>
                            <a href="#" class="" title="31 topics">orange</a>
                            <a href="#" class="" title="16 topics">love to</a>
                            <a href="#" class="" title="32 topics">tutorials</a>
                            <a href="#" class="" title="12 topics">how to</a>
                            <a href="#" class="" title="44 topics">advice</a>
                        </div>
                    </div><!-- end widget -->
                </div><!-- end col 3 -->
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="widget clearfix">
                        <div class="widget-title"><h3>Last Tweets</h3><hr></div>
						<ul class="twitter-widget">
                            <li><a href="#">@envato</a> - Lorem ipsum dolor sit amet, consectetur adipisicing elit?
                                <small><a href="#">23, June 2013</a></small>
                            </li>
                            <li><a href="#">@mediadesigning</a> - Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.. <a href="http://goo.gl/eErfGa">http://goo.gl/eErfGa</a>
                                <small><a href="#">16, June 2013</a></small>
                            </li>
						</ul>
                    </div><!-- end widget -->
                </div><!-- end col 3 -->
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="widget">
                        <div class="widget-title"><h3>Flickr Stream</h3><hr></div>
						<ul class="gallery flickr-gallery" data-flickr-id="52617155@N08">
							<!-- Auto filled with the Flickr Feed Plugin -->
						</ul>
                    </div><!-- end widget -->
                </div><!-- end col 3 -->
        </div><!-- end container -->
    </footer><!-- end section-footer -->
