	<header class="header-wrapper">
    	<div class="container">
        	<div class="clearfix">
                <div class="col-lg-2 col-md-2 col-sm-10 title-area pull-left">
                    <div class="site-title" id="title">
                        <a href="index.html" title="">
                            <img src="images/logo.png" alt="">	
                        </a>
                    </div><!-- site title -->
                </div><!-- title area -->
                <div class="col-lg-10 col-md-10 col-sm-12">
                     <nav class="navbar navbar-default fhmm" role="navigation" >
                        <div class="navbar-header">
                            <button type="button" data-toggle="collapse" data-target="#defaultmenu" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                        </div><!-- end navbar-header -->
                         <br/>
                        <div id="defaultmenu" class="navbar-collapse collapse container">
                            <ul class="nav navbar-nav">
                                <li id="index"><a href="/" data-hover="dropdown"><i class="fa fa-home"></i> <b> Главная</b> </a></li>
                            </ul><!-- end nav navbar-nav navbar-right -->

                            <ul class="nav navbar-nav">
                                <li id="novosti"><a href="/novosti.html" data-hover="dropdown"><i class="fa fa-volume-up"></i> <b> Новости</b> </a></li>
                            </ul><!-- end nav navbar-nav navbar-right -->

                            <ul class="nav navbar-nav">
                                <li id="programma"><a href="/programma.html" data-hover="dropdown"><i class="fa fa-calendar"></i> <b> Программа</b> </a></li>
                            </ul><!-- end nav navbar-nav navbar-right -->
                            
                            <ul class="nav navbar-nav">
                                <li id="reg"><a href="/reg.html" data-hover="dropdown"><i class="fa fa-edit"></i> <b> Регистрация</b> </a></li>
                            </ul><!-- end nav navbar-nav navbar-right -->
                            <ul class="nav navbar-nav">
                                <li id="org"><a href="/org.html" data-hover="dropdown"><i class="fa fa-bullhorn"></i> <b> Организаторы</b> </a></li>
                            </ul><!-- end nav navbar-nav navbar-right -->
                            <ul class="nav navbar-nav">
                                <li id="foto" ><a href="/foto.html" data-hover="dropdown"><i class="fa fa-picture-o"></i> <b> Галерея</b> </a>
                                </li>
                            </ul><!-- end nav navbar-nav navbar-right -->

                            <ul class="nav navbar-nav">
                                <li  id="contact"><a href="contact.html"><i class="fa fa-envelope-o"></i> Контакты</a></li>
                            </ul><!-- end nav navbar-nav navbar-right -->
                        </div><!-- end #navbar-collapse-1 -->
					</nav><!-- end navbar navbar-default fhmm -->   
              	</div><!-- end col 9 --> 
			</div><!-- end site header -->
    	</div><!-- end container -->         
	</header><!-- end header-wrapper -->

     <section class="section-whitebg dm-shadow" style="padding-top:15px;padding-bottom:10px;">
        <div class="container">
            <div class="clearfix">
                <p class="text-center">баннер спонсора</p>
            </div>
        </div>
    </section>
    