	<header class="header-wrapper">
    	<div class="container">
        	<div class="site-header clearfix">
                <div class="col-lg-3 col-md-3 col-sm-12 title-area pull-left">
                    <div class="site-title" id="title">
                        <a href="index.html" title="">
                            <img src="images/logo.png" alt="">	
                        </a>
                    </div><!-- site title -->
                </div><!-- title area -->
                <div class="col-lg-9 col-md-9 col-sm-12">
                     <nav class="navbar navbar-default fhmm" role="navigation">
                        <div class="navbar-header">
                            <button type="button" data-toggle="collapse" data-target="#defaultmenu" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                        </div><!-- end navbar-header -->
                        <div id="defaultmenu" class="navbar-collapse collapse container">
                            
                            <ul class="nav navbar-nav">
                                <li ><a href="/"  ><i class="fa fa-home"></i> <b> Главная</b> </a></li>
                            </ul><!-- end nav navbar-nav navbar-right -->

                            <ul class="nav navbar-nav">
                                <li ><a href="/novosti.html"  ><i class="fa fa-volume-up"></i> <b> Новости</b> </a></li>
                            </ul><!-- end nav navbar-nav navbar-right -->

                            <ul class="nav navbar-nav">
                                <li ><a href="/programma.html" ><i class="fa fa-calendar"></i> <b> Программа</b> </a></li>
                            </ul><!-- end nav navbar-nav navbar-right -->
                            
                            <ul class="nav navbar-nav">
                                <li ><a href="/reg.html" ><i class="fa fa-edit"></i> <b> Регистрация</b> </a></li>
                            </ul><!-- end nav navbar-nav navbar-right -->
                            <ul class="nav navbar-nav">
                                <li ><a href="/org.html" ><i class="fa fa-bullhorn"></i> <b> Организаторы и партнеры</b> </a></li>
                            </ul><!-- end nav navbar-nav navbar-right -->
                            <ul class="nav navbar-nav">
                                <li ><a href="/photo.html" ><i class="fa fa-picture-o"></i> <b> Галлерея</b> </a></li>
                            </ul><!-- end nav navbar-nav navbar-right -->

                            <ul class="nav navbar-nav">
                                <li><a href="contact.html"><i class="fa fa-envelope-o"></i> Контакты</a></li>
                            </ul><!-- end nav navbar-nav navbar-right -->
                        </div><!-- end #navbar-collapse-1 -->
					</nav><!-- end navbar navbar-default fhmm -->   
              	</div><!-- end col 9 --> 
			</div><!-- end site header -->
    	</div><!-- end container -->         
	</header><!-- end header-wrapper -->