	<section class="section-slider">
		<div id="slider-wrapper">
			<div id="layerslider" style="width:100%;height:550px;">
            
				<div class="ls-slide" data-ls="slidedelay:5500;transition2d:75,79;" style="font-family:Tahoma;font-weight:bold;">
                    <img src="sliderimages/02_bg.png" class="ls-bg" alt="Slide background"/>

                    <p class="ls-l ls01" style="
                    top:100px;
                    left:20%;
                    height:40px;
                    padding: 5px 14px 10px;
                    font-size:31px;
                    line-height:44px;
                    color:#ffffff;
                    text-indent:0px;
                    border-radius:4px;
                    white-space: nowrap;" 
                    data-ls="durationin:1500;delayin:300;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
                    Краевой конкурс
                    </p>
                    <p class="ls-l ls01" style="
                    top:160px;
                    left:30%;
                    height:40px;
                    padding: 5px 14px 10px;
                    font-size:31px;
                    line-height:44px;
                    color:#ffffff;
                    text-indent:0px;
                    border-radius:4px;
                    white-space: nowrap;" 
                    data-ls="durationin:1500;delayin:900;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
                    молодежных
                    </p>

                    <p class="ls-l ls01" style="
                    top:220px;
                    left:50%;
                    height:40px;
                    padding: 5px 14px 10px;
                    font-size:31px;
                    line-height:44px;
                    color:#ffffff;
                    text-indent:0px;
                    border-radius:4px;
                    white-space: nowrap;" 
                    data-ls="durationin:1500;delayin:1800;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:10;rotatexout:-40;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
                    инновационных команд
                    </p>

                                    
                    <p class="ls-l ls01" style="
                    font-family: Verdana;
                    top:425px;
                    left:735px;
                    height:36px;
                    padding: 10px 60px;
                    text-align:center;
                    font-size:31px;
                    line-height:37px;
                    color:#fffff0;
                    text-indent:0px;
                    border-radius:4px;
                    white-space: nowrap;" 
                    data-ls="durationin:1500;delayin:2200;rotatein:120;rotatexin:10;scalexin:1.5;scaleyin:1.5;transformoriginin:right 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:right 50% 0;">
                    <a href=/reg.html style="color:#FFFFFF;">Регистрация</a>
                    </p>
				</div><!-- end first slide -->

            
    		</div><!-- layerslider -->
        </div><!-- slider-wrapper -->          
    </section><!-- end section-slider -->

