	<div class="topbar">
    	<div class="container">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="callus" >
                    <p style="text-indent:0px">
                        <span><i class="fa fa-envelope-o"></i> kmikkub@gmail.com </span> 
                        <span><i class="fa fa-phone"></i> +7 (4212) 473-115</span>
                    </p>
                </div><!-- end callus -->
            </div><!-- end col-lg-6 -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            	<div class="marketing" style="display:none">
                    <div id="dmsearch" class="dmsearch">
                        <form id="searchform" action="#" method="get">
                            <div class="dm-search-container">
                            <input id="s" class="dmsearch-input" type="text" name="s" value="" placeholder="поиск...">
                            </div>
                            <input id="go" class="dmsearch-submit" type="submit" value="">
                            <span class="searchicon"></span>
                        </form> <!-- end searchform -->
                    </div><!-- end search -->
                </div><!-- end marketing -->
            </div><!-- end col-lg-6 -->
        </div><!-- end container -->
    </div><!-- end topbar -->