<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Краевой конкурс молодежных инновационных команд - Обратная связь</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Style CSS -->
    <link href="style.css" rel="stylesheet">
    <link href="css/colors.css" rel="stylesheet">

    <!-- Royal Slider -->
    <link href="royalslider/royalslider.css" rel="stylesheet">
    <link href="royalslider/skins/default-inverted/rs-default-inverted.css" rel="stylesheet">

    <!-- Layer Slider -->
    <link rel="stylesheet" href="layerslider/css/layerslider.css" type="text/css">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="assets/ico/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="assets/ico/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/ico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/ico/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/ico/apple-touch-icon-144x144.png">

</head>
<body id="boxed" data-spy="scroll" data-offset="25">
    <div id="wrapper" class="container">
{% include topbar.html %}    
{% include header.html %}    


     <section class="section-whitebg dm-shadow">
        <div class="container">
            <div class="section-title text-center">
                <h2 class="bigtitle">{{ page.title }}</h2>
                <hr>
            </div><!-- end section-title -->    
            <div>
                {{ content }}
            </div>
        </div>
    </section>
    
  
{% include footer.html %}

      
</div><!-- wrapper -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/fhmm.js"></script>
    <script src="js/jquery.parallax.js"></script>
    <script src="js/jquery.fitvids.js"></script>    
    <script src="js/jquery.unveilEffects.js"></script>  
    <script src="js/retina-1.1.0.js"></script>
    <script src="js/jquery.jigowatt.js"></script>
    <script src="js/jquery.simple-text-rotator.js"></script>
    <script src="js/application.js"></script>
       <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="/js/jquery.gmap.min.js"></script>
    <script>
    // MAP
   jQuery(document).ready(function($) {
        $("#responsive_map").gMap({
             maptype: google.maps.MapTypeId.ROADMAP, 
             zoom: 16, 
             markers: [{
                 latitude: 48.466674, 
                 longitude: 135.068848, 
                 html: "<img src='images/logo.png' width='32'> Мы находимся ЗДЕСЬ", 
                 popup: true, 
                 flat: true, 
                 icon: { 
                     image: "images/tunnel.png", 
                     iconsize: [32, 37], 
                     iconanchor: [15, 30], 
                     shadow: "images/icon-shadow.png", 
                     shadowsize: [32, 37], 
                     shadowanchor: null}
                    } 
                ], 
             panControl: true, 
             zoomControl: true, 
             mapTypeControl: true, 
             scaleControl: true, 
             streetViewControl: true, 
             scrollwheel: false, 
             styles: [ { "stylers": [ { "hue": "#007ACC" }, { "gamma": 0 } ] } ], 
             onComplete: function() {
                 // Resize and re-center the map on window resize event
                 var gmap = $("#responsive_map").data('gmap').gmap;
                 window.onresize = function(){
                     google.maps.event.trigger(gmap, 'resize');
                     $("#responsive_map").gMap('fixAfterResize');
                 };
            }
        });
    });
    </script>
  
    <script>
     document.getElementById("contact").className = "active";  
</script>
</body>
</html>