<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Краевой конкурс молодежных инновационных команд - Фото и видео</title>
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Style CSS -->
    <link href="style.css" rel="stylesheet">
    <link href="css/colors.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="assets/ico/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="assets/ico/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/ico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/ico/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/ico/apple-touch-icon-144x144.png">

    <!-- load Galleria -->
  <link rel="stylesheet" href="/photo/css/plusgallery.css">

</head>

<body id="boxed" data-spy="scroll" data-offset="25">
    <div id="wrapper" class="container">
{% include topbar.html %}    
{% include header.html %}    

     <section class="section-whitebg dm-shadow">
        <div class="container">
            <div class="section-title text-center">
                <h2 class="bigtitle">{{ page.title }}</h2>
                <hr>
            </div><!-- end section-title -->    
        <!-- iterate -->
    

       <div style="text-align:center;">         

    {% for photoalbum in site.data.photoalbums %}    
        <a class="h3" href="#" onclick="loadGallery('{{ photoalbum.album }}'); return false;">{{ photoalbum.name }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
        
    
    {% endfor %}


   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write("<script src='/photo/js/jquery-1.7.2.min.js'>\x3C/script>")</script>
  <script src="/photo/js/plusgallery.js"></script>
  <script>
    var loadGallery = function(id){
        $('#gallerywrapper').html('<div id="plusgallery" data-userid="104510373840159776555" data-type="google" data-album-id="' + id + '"></div>');
        $('#plusgallery').plusGallery();
    }
  </script>
            <div id="gallerywrapper" >
	           </div>
    
        </div>
            <div class="section-title text-center">
                <h2 class="bigtitle">Видеогалерея</h2>
                <hr>
          </div><!-- end section-title -->    
        <!-- iterate -->
    

       <div style="text-align:center;">         
	    {% for videoalbum in site.data.video %}    
		<iframe width="640" height="480" src="//{{ videoalbum.link }}" frameborder="0" allowfullscreen></iframe>    
		<br/>
	    {% endfor %}
       </div>
    </div>
    </section>
    
  
{% include footer.html %}

      
</div><!-- wrapper -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!--script src="js/jquery.js"></script-->
    <script src="js/bootstrap.js"></script>
    <script src="js/fhmm.js"></script>
    <script src="js/jquery.parallax.js"></script>
    <script src="js/jquery.fitvids.js"></script>    
    <script src="js/jquery.unveilEffects.js"></script>  
    <script src="js/retina-1.1.0.js"></script>
    <script src="js/jquery.jigowatt.js"></script>
    <script src="js/jquery.simple-text-rotator.js"></script>
    <script src="js/application.js"></script>
    
   
    
<script>
     document.getElementById("foto").className = "active";  
</script>
</body>
</html>