<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PRESSA - HTML5 Website Template</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Style CSS -->
    <link href="style.css" rel="stylesheet">
    <link href="css/colors.css" rel="stylesheet">
    <link href="css/add.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="assets/ico/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="assets/ico/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/ico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/ico/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/ico/apple-touch-icon-144x144.png">

   <link rel="stylesheet" href="uploader/css/normalize.css">
        <link rel="stylesheet" href="uploader/css/main.css">
        <style>
          #progress_bar {
            margin: 10px 0;
            padding: 3px;
            border: 1px solid #000;
            font-size: 14px;
            clear: both;
            opacity: 0;
            -moz-transition: opacity 1s linear;
            -o-transition: opacity 1s linear;
            -webkit-transition: opacity 1s linear;
          }
          #progress_bar.loading {
            opacity: 1.0;
          }
          #progress_bar .percent {
            background-color: #99ccff;
            height: auto;
            width: 0;
          }
        </style>

        <script src="uploader/js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropbox.js/0.10.2/dropbox.min.js"></script>



</head>
<body id="boxed" >
    <div id="wrapper" class="container">

{% include topbar.html %}    
{% include header.html %}    
  
   <section class="section-single">
        <div class="container">
            <div class="single-post-wrapper col-lg-11 col-md-11 col-sm-12 clearfix">
                
                <p>Описание процесса  регистрации</p>

            <div class="bs-example bs-example-tabs">
              <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#pers" data-toggle="tab"><i class="fa fa-user"></i>Регистрация индивидуальных участников</a></li>
                <li><a href="#team" data-toggle="tab"><i class="fa fa-users"></i>Регистрация команд</a></li>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="pers">

              <!-- Begin MailChimp Signup Form -->
<form action="http://github.us8.list-manage.com/subscribe/post?u=e2373dfb66b59ba76023bbe1d&amp;id=21560b54c0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-horizontal" role="form" target="_blank" novalidate>
  <h2>Регистрация участника</h2>
 <!--FIO-->
                  <div class="form-group">
                    <label for="LNAME" class="col-lg-2 control-label">Фамилия</label>
                    <div class="col-lg-10">
                        <input name=LNAME type="text" class="form-control" id="exampleInputF" placeholder="Фамилия" REQUIRED>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="FNAME" class="col-lg-2 control-label">Имя</label>
                    <div class="col-lg-10">
                        <input name="FNAME" type="text" class="form-control" id="exampleInputI" placeholder="Имя" REQUIRED>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="MNAME" class="col-lg-2 control-label">Отчество</label>
                    <div class="col-lg-10">
                        <input name="MNAME" type="text" class="form-control" id="exampleInputO" placeholder="Отчество" REQUIRED>
                    </div>
                  </div>
                  <hr/>
                  <!-- направление -->
                  <div class="form-group">
                    <label for="FIELD" class="col-lg-2 control-label">Направление</label>
                    <div class="col-lg-10">
                        <select name="FIELD" class="form-control" id="exampleInputN" required>
                            <option value=""></option>
                            <option value="Дизайн" >Дизайн</option>
                            <option value="Автоматизация" >Автоматизация</option>
                            <option value="Проектирование" >Проектирование</option>
                        </select>
                    </div>
                  </div>

   <hr/>  
   <!-- email and phone-->
                  <div class="form-group">
                    <label for="EAMIL" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input name="EMAIL" type="email" class="form-control" id="exampleInputE" placeholder="yourname@youremail.ru" required>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="PHONE" class="col-lg-2 control-label">Телефон</label>
                    <div class="col-lg-10">
                        <input name="PHONE" type="tel" class="form-control" id="exampleInputP" placeholder="79090000000" pattern="[0-9]*" required>
                    </div>
                  </div>
                  <hr/>  

                  <div class="form-group">
                    <label for="EDU" class="col-lg-2 control-label">Образование</label>
                    <div class="col-lg-10">
                        <select name="EDU" class="form-control" id="exampleInputObr">
                             <option value="Высшее">Высшее</option>
                            <option value="Неоконченное высшее">Неоконченеое высшее</option>
                            <option value="Среднее">Среднее</option>
                            <option value="Неоконченное среднее">Неоконченное среднее</option>
                        </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="COMP" class="col-lg-2 control-label">Компания</label>
                    <div class="col-lg-10">
                        <input name="COMP" type="text" class="form-control" id="exampleInputNK" placeholder="Наименование компании">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="POSITION" class="col-lg-2 control-label">Должность</label>
                    <div class="col-lg-10">
                        <input name="POSITION" type="text" class="form-control" id="exampleInputDol" placeholder="Должность">
                    </div>
                  </div>
                  <hr/>                  


                   <div class="form-group">
                    <p><label for="Crea" class="col-lg-2 control-label">Вопрос:</label><br/></p>
                    <textarea id="AREA" rows=10 class="form-control"  placeholder="Ответ на вопрос" required></textarea>
                  </div>
      
                    <input type="text" value="" name="QUESTION" class="required" id="QUESTION" style="display:none;">


                  <div class="mc-field-group">
                    <input type="file" id="files" name="IMAGEURL" />
                    <button onclick="abortRead();">Cancel read</button>
                    <div id="progress_bar"><div class="percent">0%</div></div>

                    <script src="uploader/js/reader.js"></script>
                    <script>window.jQuery || document.write('<script src="uploader/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
                    <script src="uploader/js/plugins.js"></script>
                  </div>

              <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_e2373dfb66b59ba76023bbe1d_21560b54c0" value=""></div>
  
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" required>Даю согласие на обработку персональных данных?!
                    </label>
                  </div>
                  <button type="submit" class="btn btn-primary" onclick='document.getElementById("QUESTION").value = document.getElementById("AREA").value'>Зарегистрироваться</button>
                </form>

              </div>
<!--End mc_embed_signup-->

                <div class="tab-pane fade" id="team">
                <!-- -->
                
                  <!-- form for team -->
<!-- Begin MailChimp Signup Form -->
<form action="http://github.us8.list-manage.com/subscribe/post?u=e2373dfb66b59ba76023bbe1d&amp;id=1a9d8d84ac" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"  target="_blank" novalidate class="form-horizontal" role="form">

<div class="form-group">
  <label for="CNAME" class="col-lg-2 control-label">Название команды</label>
  <div class="col-lg-10">
    <input type="text" value="" name="CNAME" class="form-control"  required>
</div>
</div>

<div class="form-group">
  <label for="DIRECTION" class="col-lg-2 control-label">Направление</label>
  <div class="col-lg-10">
  <select name="DIRECTION" class="form-control"  required>
  <option value=""></option>
  <option value="Дизайн">Дизайн</option>
<option value="Автоматизация">Автоматизация</option>
<option value="Технико-экономическое">Технико-экономическое</option>
 </select>
</div>
</div>
<hr/>


<div class="tab-services clearfix">
              <ul id="myTab1" class="nav nav-tabs">
                <li class="active"><a href="#n1" data-toggle="tab"><i class="fa fa-user"></i>Участник команды №1</a></li>
                <li class=""><a href="#n2" data-toggle="tab"><i class="fa fa-user"></i>Участник команды №2</a></li>
                <li class=""><a href="#n3" data-toggle="tab"><i class="fa fa-user"></i>Участник команды №3</a></li>
              </ul>
              <div id="myTabContent1" class="tab-content">
                <div class="tab-pane fade active in clearfix" id="n1">


      <div class="form-group">
        <label for="LNAME1" class="col-lg-2 control-label">Фамилия</label>
                    <div class="col-lg-10">
                          <input type="text" value="" name="LNAME1" class="form-control" required>
                    </div>
      </div>


<div class="form-group">
  <label for="FNAME1" class="col-lg-2 control-label">Имя</label>
  <div class="col-lg-10">
    <input type="text" value="" name="FNAME1" class="form-control"  required>
</div>
</div>


<div class="form-group">
  <label for="MNAME1" class="col-lg-2 control-label">Отчеcтво</label>
  <div class="col-lg-10">
    <input type="text" value="" name="MNAME1" class="form-control"  required>
</div>
</div>

<hr/>
<div class="form-group">
  <label for="ROLE1" class="col-lg-2 control-label">Направление</label>
  <div class="col-lg-10">
  <select name="ROLE1" class="form-control"  required>
  <option value=""></option>
<option value="Инженер">Инженер</option>
<option value="Дизайнер">Дизайнер</option>
<option value="Программист АСУ">Программист АСУ</option>
<option value="Экономист">Экономист</option> </select>
</div>
</div>
<hr/>

      <div class="form-group">
  <label for="mce-EMAIL" class="col-lg-2 control-label">Email</label>
  <div class="col-lg-10">
     <input name="EMAIL" type="text" class="form-control" id="exampleInputNK" placeholder="teammember1email@domain.com" required>
  </div>
</div>


<div class="form-group">
                    <label for="PHONE1" class="col-lg-2 control-label">Телефон</label>
                    <div class="col-lg-10">
                        <input name="PHONE1" type="tel" class="form-control" id="exampleInputP" placeholder="79090000000" pattern="[0-9]*" required>
                    </div>
                  </div>

<hr/>
      <div class="form-group">
        <label for="COMP1" class="col-lg-2 control-label">Компания</label>
       <div class="col-lg-10">

        <input type="text" value="" name="COMP1" class="form-control" id="COMP1" placeholder="Наименование компании">
      </div>
  </div>


 <div class="form-group">
   <label for="POSITION1" class="col-lg-2 control-label">Должность</label>
         <div class="col-lg-10">
    <input type="text" value="" name="POSITION1" class="form-control" id="POSITION1" placeholder="Должность" >
</div>
</div>
<hr/>
</div>

<div class="tab-pane fade in clearfix" id="n2">

      <div class="form-group">
        <label for="LNAME2" class="col-lg-2 control-label">Фамилия</label>
                    <div class="col-lg-10">
                          <input type="text" value="" name="LNAME2" class="form-control"  required>
                    </div>
      </div>


<div class="form-group">
  <label for="FNAME2" class="col-lg-2 control-label">Имя</label>
  <div class="col-lg-10">
    <input type="text" value="" name="FNAME2" class="form-control"  required>
</div>
</div>


<div class="form-group">
  <label for="MNAME2" class="col-lg-2 control-label">Отчеcтво</label>
  <div class="col-lg-10">
    <input type="text" value="" name="MNAME2" class="form-control"  required>
</div>
</div>

<hr/>
<div class="form-group">
  <label for="ROLE2" class="col-lg-2 control-label">Направление</label>
  <div class="col-lg-10">
  <select name="ROLE2" class="form-control"  required>
  <option value=""></option>
  <option value="Инженер">Инженер</option>
<option value="Дизайнер">Дизайнер</option>
<option value="Программист АСУ">Программист АСУ</option>
<option value="Экономист">Экономист</option>
 </select>
</div>
</div>
<hr/>

      <div class="form-group">
  <label for="EMAIL2" class="col-lg-2 control-label">Email</label>
  <div class="col-lg-10">
     <input name="EMAIL2" type="text" class="form-control" id="exampleInputNK" placeholder="teammember2email@domain.com" required>
  </div>
</div>


 <div class="form-group">
                    <label for="PHONE2" class="col-lg-2 control-label">Телефон</label>
                    <div class="col-lg-10">
                        <input name="PHONE2" type="tel" class="form-control" id="exampleInputP" placeholder="79090000000" pattern="[0-9]*" required>
                    </div>
                  </div>
<hr/>
      <div class="form-group">
        <label for="COMP2" class="col-lg-2 control-label">Компания</label>
       <div class="col-lg-10">

        <input type="text" value="" name="COMP2" class="form-control"  placeholder="Наименование компании">
      </div>
  </div>

 <div class="form-group">
   <label for="POSITION2" class="col-lg-2 control-label">Должность</label>
         <div class="col-lg-10">
    <input type="text" value="" name="POSITION2" class="form-control"  placeholder="Должность">
</div>
</div>
<hr/>

</div>


<div class="tab-pane fade in clearfix" id="n3">
      <div class="form-group">
        <label for="LNAME3" class="col-lg-2 control-label">Фамилия</label>
                    <div class="col-lg-10">
                          <input type="text" value="" name="LNAME3" class="form-control"  required>
                    </div>
      </div>


<div class="form-group">
  <label for="FNAME3" class="col-lg-2 control-label">Имя</label>
  <div class="col-lg-10">
    <input type="text" value="" name="FNAME3" class="form-control"  required>
</div>
</div>

<div class="form-group">
  <label for="MNAME3" class="col-lg-2 control-label">Отчеcтво</label>
  <div class="col-lg-10">
    <input type="text" value="" name="MNAME3" class="form-control" required>
</div>
</div>

<hr/>
<div class="form-group">
  <label for="ROLE3" class="col-lg-2 control-label">Направление</label>
  <div class="col-lg-10">
  <select name="ROLE3" class="form-control" required>
  <option value=""></option>
<option value="Инженер">Инженер</option>
<option value="Дизайнер">Дизайнер</option>
<option value="Программист АСУ">Программист АСУ</option>
<option value="Экономист">Экономист</option> </select>
</div>
</div>
<hr/>

      <div class="form-group">
  <label for="EMAIL3" class="col-lg-2 control-label">Email</label>
  <div class="col-lg-10">
     <input name="EMAIL3" type="text" class="form-control" id="exampleInputNK" placeholder="teammember3email@domain.com" required>
  </div>
</div>

<div class="form-group">
                    <label for="PHONE3" class="col-lg-2 control-label">Телефон</label>
                    <div class="col-lg-10">
                        <input name="PHONE3" type="tel" class="form-control" id="exampleInputP" placeholder="79090000000" pattern="[0-9]*" required>
                    </div>
                  </div>


      <div class="form-group">
        <label for="COMP3" class="col-lg-2 control-label">Компания</label>
       <div class="col-lg-10">

        <input type="text" value="" name="COMP3" class="form-control" id="COMP3" placeholder="Наименование компании">
      </div>
  </div>

 <div class="form-group">
   <label for="POSITION3" class="col-lg-2 control-label">Должность</label>
         <div class="col-lg-10">
    <input type="text" value="" name="POSITION3" class="form-control"  placeholder="Должность">
</div>
</div>
<hr/>

</div>
</div> <!-- tabz-->


   <div class="form-group">
                    <p><label for="AREAC" class="col-lg-2 control-label">Вопрос:</label><br/></p>
                    <textarea id="AREAC" name="AREA" rows=10 class="form-control"  placeholder="Ответ на вопрос" required></textarea>
                  </div>
      
                    <input type="text" value="" name="QUESTIONC" class="required" id="QUESTIONC" style="display:none;">

</div> 

                  <div class="checkbox">
                    <label>
                      <input type="checkbox" required>Даю согласие на обработку персональных данных?!
                    </label>
                  </div>

  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_e2373dfb66b59ba76023bbe1d_1a9d8d84ac" value=""></div>
  <!--div class="clear"><input type="submit" value="Отправить заявку" name="subscribe" id="mc-embedded-subscribe" class="button"></div-->
     <button type="submit" class="btn btn-primary" onclick='document.getElementById("QUESTIONC").value = document.getElementById("AREAC").value'>Зарегистрироваться</button>
</form>
<!--End mc_embed_signup-->
                </div>
              </div>
            </div><!-- /example -->
             
        </div><!-- end container -->
    </section><!-- end section-single -->
       
    
  
{% include footer.html %}

      
   <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/fhmm.js"></script>
    <script src="js/jquery.parallax.js"></script>
    <script src="js/jquery.fitvids.js"></script>    
    <script src="js/jquery.unveilEffects.js"></script>  
    <script src="js/retina-1.1.0.js"></script>
    <script src="js/jquery.jigowatt.js"></script>
    <script src="js/jquery.simple-text-rotator.js"></script>
    <script src="js/application.js"></script>
    
<script>
     document.getElementById("reg").className = "active";  
</script>
</body>
</html>