<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PRESSA - HTML5 Website Template</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Style CSS -->
    <link href="style.css" rel="stylesheet">
    <link href="css/colors.css" rel="stylesheet">
    <link href="css/add.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="assets/ico/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="assets/ico/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/ico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/ico/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/ico/apple-touch-icon-144x144.png">

</head>
<body id="boxed" >
    <div id="wrapper" class="container">

{% include topbar.html %}    
{% include header.html %}    
  
   <section class="section-single">
        <div class="container">
            <div class="single-post-wrapper col-lg-9 col-md-9 col-sm-12 clearfix">
                
                <p>Описание процесса  регистрации</p>

            <div class="bs-example bs-example-tabs">
              <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#pers" data-toggle="tab"><i class="fa fa-user"></i>Регистрация индивидуальных участников</a></li>
                <li><a href="#team" data-toggle="tab"><i class="fa fa-users"></i>Регистрация команд</a></li>
                </li>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="pers">

                <form class="form-horizontal" role="form">
                 <!--FIO-->
                  <div class="form-group">
                    <label for="F" class="col-lg-2 control-label">Фамилия</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="exampleInputF" placeholder="Фамилия" REQUIRED>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="I" class="col-lg-2 control-label">Имя</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="exampleInputI" placeholder="Имя" REQUIRED>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="O" class="col-lg-2 control-label">Отчество</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="exampleInputO" placeholder="Отчество" REQUIRED>
                    </div>
                  </div>
                  <hr/>
                  <div class="form-group">
                    <label for="N" class="col-lg-2 control-label">Направление</label>
                    <div class="col-lg-10">
                        <select name="N" class="form-control" id="exampleInputN" required>
                            <option value="" disabled selected>Выберите направление</option>
                            <option name="d" >Дизайн</option>
                            <option name="a" >Автоматизация</option>
                            <option name="p" >Проектирование</option>
                        </select>
                    </div>
                  </div>
                  
                                  
                  <hr/>  
                  <div class="form-group">
                    <label for="E" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input type="email" class="form-control" id="exampleInputE" placeholder="yourname@youremail.ru" required>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="P" class="col-lg-2 control-label">Телефон</label>
                    <div class="col-lg-10">
                        <input type="tel" class="form-control" id="exampleInputP" placeholder="79090000000" pattern="[0-9]*" required>
                    </div>
                  </div>
                  <hr/>  


                  <div class="form-group">
                    <label for="Obr" class="col-lg-2 control-label">Образование</label>
                    <div class="col-lg-10">
                        <select name="Obr" class="form-control" id="exampleInputObr">
                            <option name="v" >Высшее</option>
                            <option name="nv" >Не оконченеое высшее</option>
                            <option name="s" >Среднее</option>
                            <option name="ns" >Не оконченное среднее</option>
                        </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="NK" class="col-lg-2 control-label">Наименование компании</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="exampleInputNK" placeholder="Наименование компании">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="Dol" class="col-lg-2 control-label">Должность</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="exampleInputDol" placeholder="Должность">
                    </div>
                  </div>
                  <hr/>                  
                  <div class="form-group">
                    <p><label for="Crea" class="col-lg-2 control-label">Вопрос:</label><br/></p>
                    <textarea rows=10 class="form-control" id="exampleInputCrea" placeholder="Ответ на вопрос" required></textarea>
                  </div>

                  <hr/>
                  <div class="form-group">
                    <label for="exampleInputFile">Дополнительная инофрмация</label>
                    <input type="file" id="exampleInputFile">
                    <p class="help-block">Example block-level help text here.</p>
                  </div>

                  <div class="checkbox">
                    <label>
                      <input type="checkbox" required>Даю согласие на обработку персональных данных?!
                    </label>
                  </div>
                  <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </form>

                </div>
                <div class="tab-pane fade" id="team">
                <!-- -->
                <form role="form">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input type="file" id="exampleInputFile">
                    <p class="help-block">Example block-level help text here.</p>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Check me out
                    </label>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>

                </div>
              </div>
            </div><!-- /example -->
             
        </div><!-- end container -->
    </section><!-- end section-single -->
       
    
  
{% include footer.html %}

      
   <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/fhmm.js"></script>
    <script src="js/jquery.parallax.js"></script>
    <script src="js/jquery.fitvids.js"></script>    
    <script src="js/jquery.unveilEffects.js"></script>  
    <script src="js/retina-1.1.0.js"></script>
    <script src="js/jquery.jigowatt.js"></script>
    <script src="js/jquery.simple-text-rotator.js"></script>
    <script src="js/application.js"></script>
    
<script>
     document.getElementById("reg").className = "active";  
</script>
</body>
</html>