<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PRESSA - HTML5 Website Template</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Style CSS -->
    <link href="style.css" rel="stylesheet">
    <link href="css/colors.css" rel="stylesheet">
    <link href="css/add.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="assets/ico/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="assets/ico/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/ico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/ico/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/ico/apple-touch-icon-144x144.png">


</head>
<body id="boxed" >
    <div id="wrapper" class="container">

{% include topbar.html %}    
{% include header.html %}    
  
   <section class="section-single">
        <div class="container">
            <div class="single-post-wrapper col-lg-9 col-md-9 col-sm-12 clearfix">
                
                <p>Описание процесса  регистрации</p>

            <div class="bs-example bs-example-tabs">
              <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#pers" data-toggle="tab"><i class="fa fa-user"></i>Регистрация индивидуальных участников</a></li>
                <li><a href="#team" data-toggle="tab"><i class="fa fa-users"></i>Регистрация команд</a></li>
              </ul>
              <div id="myTabContent" class="tab-content">

                <div class="tab-pane fade in active" id="pers">
                                  <!-- Begin MailChimp Signup Form -->

                </div>

                <div class="tab-pane fade" id="team">
                    F2
                       <div class="tab-services clearfix">
                          <ul id="myTab1" class="nav nav-tabs">
                            <li class="active"><a href="#n1" data-toggle="tab"><i class="fa fa-user"></i>ex1</a></li>
                            <li class=""><a href="#n2" data-toggle="tab"><i class="fa fa-user"></i>ex2</a></li>
                            <li class=""><a href="#n3" data-toggle="tab"><i class="fa fa-user"></i>ex3</a></li>
                            
                          </ul>
                          <div id="myTabContent1" class="tab-content">

                            <div class="tab-pane fade active in clearfix" id="n1">123</div>
                            <div class="tab-pane fade in clearfix"  id="n2">243534534543</div>      
                            <div class="tab-pane fade in clearfix" id="n3">2435345345431312312</div>      
                          </div>
                      </div>

                </div>
              </div>
            </div><!-- /example -->
             
        </div><!-- end container -->
    </section><!-- end section-single -->
       
    
  
{% include footer.html %}

      
   <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/fhmm.js"></script>
    <script src="js/jquery.parallax.js"></script>
    <script src="js/jquery.fitvids.js"></script>    
    <script src="js/jquery.unveilEffects.js"></script>  
    <script src="js/retina-1.1.0.js"></script>
    <script src="js/jquery.jigowatt.js"></script>
    <script src="js/jquery.simple-text-rotator.js"></script>
    <script src="js/application.js"></script>
    
<script>
     document.getElementById("reg").className = "active";  
</script>
</body>
</html>